#graphic {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#scrollingText {
  position: relative;
  display: inline-block;
  width: calc(30%);
  min-width: calc(100% - 100vh * 660 / 500);
  margin-bottom: calc(100vh - 100px);
  padding: 10px;
}

#hg {
  float:right;
  position: fixed;
  width: calc(65%);
  max-width: calc(100vh * 660 / 500);
  top: 2rem; 
  bottom: 1rem; 
  right: 1rem
}

#media {
  float:right;
  display: inline-block;
  position: fixed;
  top: 0px;
  width: calc(65%);
  max-width: calc(100vh * 660 / 500);
}

.mainText {
  text-align:center;
}

#img, #vid {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

#img, #vidMedia, #ytMedia, #text { 
  margin-top: 3%;
  display:none;
}

.inlineVid, .inlineYt, .inlineImg {
  width: 100%;
  height: auto;
}

.mainImg {
  width: 50%;
  display:block;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  margin:0%;
  text-align:center;
  width:40vh;
}

.step {
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 10px;
  opacity: 0.3;
  border-radius:5px;
}

#sections {
  padding:0px;
}

.highlighted-step {
  border-left: 8px solid #0F1626;
  opacity: 1.0 !important;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.media {
  margin: auto; width: 50%
}

body {
  background-color: #f5f5f5;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
